
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

* {
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5)),
    rgba (0,0,0,0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff7b00 ;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.timebox {
    display: flex;
    gap: 90px;
}

.time {
    text-align: center;
}

.time h2 {
    font-size: 5rem;
    font-weight: 100;
}

.section {
  height: 100vh;
  padding: 2rem;
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

/* Navbar */
.navbar {
background-color: #f77f00 ;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 249px;
    border-bottom: 1px solid #ff9505;
}

header ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 30px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    text-decoration: none;
    color: #ff9505;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}

header ul li a:hover {
    color: white;
}